{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Interval{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    
    <label for="iStart">start: </label>
    <input type="datetime-local" name="iStart" id="iStart" value="{{ request.form['iStart'] }}" required>
    
    <label for="iEnd">end: </label>
    <input type="datetime-local" name="iEnd" id="iEnd" value="{{ request.form['iEnd'] }}" required>

    <label for="luminosity">luminosity: </label>
    <input type="number" name="luminosity" step="1" min="0" max="100" id="luminosity" value="{{ request.form['luminosity'] }}">

    <input type="submit" value="Save">
  </form>
  <script>
    var start = document.getElementById('iStart');
    var end = document.getElementById('iEnd');

    start.addEventListener('change', function() {
      if (start.value)
        end.min = start.value;
    }, false);
    end.addEventLiseter('change', function() {
      if (end.value)
        start.max = end.value;
    }, false);
  </script>
{% endblock %}