{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Intervals{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('intervals.create') }}">New interval</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for interval in intervals %}
    <article class="post">
      <header>
        <h1>{{ interval['name'] }}</h1>
        <hr>
        <p>interval: {{ interval['iStart']}} - {{interval['iEnd'] }}</p> 
        <hr>
        <p>luminosity: {{ interval['luminosity'] }}</p>
        <hr>
        <p>createdAt: {{ interval['createdAt'] }}</p>
        <hr>
        <a class="action" href="{{ url_for('intervals.update', id=interval['id']) }}">Edit</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}