flaskr/lib
flaskr/bin
flaskr/venv
flaskr/__pycache__
flaskr/__init__.pyc
flaskr/controllers/__pycache__
flaskr/storage/__pycache__
flaskr/Scripts/
flaskr/flaskr.egg-info/
flaskr/false
flaskr/MANIFEST.in
flaskr/pyvenv.cfg
instance
tests/__pycache__
.pytest_cache
.idea
venv