{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}notificationTypes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('notificationType.create') }}">New notificationType</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for notificationType in notificationTypes %}
    <article class="post">
      <header>
        <h1>{{ notificationType['description'] }}</h1>
        <a class="action" href="{{ url_for('notificationType.update', id=notificationType['id']) }}">Edit</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}