{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ notificationType['description'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="description">Description</label>
    <input name="description" id="description"
      value="{{ request.form['description'] or notificationType['description'] }}" required>
      <input type="submit" value="Save">
    </form>
  <hr>
  <form action="{{ url_for('notificationType.delete', id=notificationType['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}